body{
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    /* background-image: url('../img/background/low-angle-photography-of-city-street-with-snow-3396883.jpg');*/
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    background-color: #daf1ef;

 }
 .form{
     min-height: 100vh;
 }
 .bg_img{
     background-image: url('../img/background/background-with-violet-blue-tropical-leaves_52683-36496.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 0 20px 20px 0;

 }
 .form-login-content{
     min-height: 400px;
    
 }
 .form-login{
     width: 90%;
     background-color: white;
     border-radius: 20px;
     margin: 0 auto;
    
 }
 .form-body-item{
     position: relative;
     margin-bottom: 30px;
 }

 #title
 {
     color: #007bff;
 }

 .form-header{
     margin-bottom: 50px;
     text-align: center;
 }
 .form-footer{
     text-align: center;
     margin-bottom: 30px;
     ;
 }
 .form-footer button{
     width: 120px;
 }

 #register
 {
     margin-top: 20px;
     text-align: center;
 }


 .form-login-control{
     transition: all .3s ease-in-out;
 }
 .ipt-control::-webkit-input-placeholder {
     color:transparent;
 }

 .ipt-control:-moz-placeholder { /* Firefox 18- */
     color:transparent; 
 }

 .ipt-control::-moz-placeholder {  /* Firefox 19+ */
     color:transparent; 
 }

 .ipt-control:-ms-input-placeholder {  
     color:transparent;
 }
 .form-body-item .lbl-name{
         position: absolute;
         top: 10px;
         transition: all .3s ease-in-out;
 }

 @media only screen and (min-width:992px){
     .form-login-control{
         width: 50%;
     }
 }
 @media only screen and (min-width:768px){
     .form-login-control{
         width: 80%;
     }
    
 }
 @media only screen and (min-width:600px){
     
     .form-body-item .lbl-name{
         color: #ccc;
         left: 10px;
         font-size: 10px;
         transform: translateY(3px);
     }
     .ipt-control:focus ~ .lbl-name, .ipt-control:not(:placeholder-shown) ~ .lbl-name{
         transform: translateY(-35px);
         color: black;
         font-size: 15px;
         left: 0px;
     }
 }
 @media only screen and (max-width:576px){
     .form-login-control{
         width: 100%;
     }
     .form-body-item .lbl-name{
         transform: translateY(-35px);
         color: black;
         font-size: 15px;
         left: 0px;
     }
 }



 