/* reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.clear{
    clear: both;
}

#wrapper{

}

#header{

    height: 80px;
    background-color:whitesmoke;
    position: fixed;
    top:0;
    left: 0;
    right: 0;

}

#nav{
    display: inline-block;
}

#nav , .subnav{
    list-style-type: none ;
}

#nav > li{
    display: inline-block;
}

#nav li{

    position: relative;

}

#nav > li > a{
    color: #5d5d5d;

}

#nav > li:first-child
{
    font-weight: 600;
    font-size: 20px;
}

#nav li a{

    text-decoration: none;
    line-height: 80px;
    padding: 0 24px;
    display: block;

}

#nav li:hover .subnav {
    display: block;
}


#nav .subnav li:hover a,
#nav > li:hover >a{
    color: #000;
    background-color: #ccc;

}

#nav .nav-down
{
    font-size: 10px;
}

#nav .subnav{
    display:  none;
    min-width: 160px;
    position: absolute;
    top:100%;
    left: 0;
    padding: 0 !important;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,3);
}

#nav .subnav a{

    color:#5d5d5d;
    padding: 0 16px;
    line-height: 38px;
}

#header #cart
{
    margin-right: 50px;
}

#header .cart-btn
{
    float: right;
    padding:  0 10px;
}

#header .cart-btn:hover{
    cursor: pointer;
}

#header .cart-icon,
#header .user-icon{
    color:black;
    font-size:  15px;
    line-height: 80px;

}

/* slider */
#slider
{
     margin-top:80px;
    font-family: sans-serif;
    overflow-x: hidden;
}

.contain_slide
{
    height: 100hv;
    overflow: hidden;
    position: relative;
}

.contain_slide .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    padding: 0 15px;
    animation: slide 3s ease;
    display: none;

}

.contain_slide .slide .active
{
    display: flex;
}

@keyframes slide
{
0%
    {
    transform: scale(1.1);
    }
100%
    {
    transform: scale(1);
    }
}

.container_slide
{
    max-width: 1170px;
    margin: auto;
}

.contain_slide .container_slide
{
    flex-grow: 1;
}

.contain_slide .caption
{
    width: 50%;
}

.contain_slide .caption h1
{
    font-size: 42px;
    color: #fff;
    margin: 0;
}

.contain_slide .slide .active .caption h1
{
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1s;
}

.contain_slide


#content{


}



#footer{

}
