<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Ecormerce</title>
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/assets/custom_css/style_main.css">
    <script src="https://kit.fontawesome.com/c8129f6eaa.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="main">
        <div id="header">
            <ul id="nav" >
                <li>
                    <a id="title" href="">Project Ecomerce</a>
                </li>
                <li>
                    <a href="">Home</a>
                    <ul class="subnav">
                        <li><a href="">Home1</a></li>
                        <li><a href="">Home2</a></li>
                        <li><a href="">Home3</a></li>
                        <li><a href="">Home4</a></li>
                        <li><a href="">Home5</a></li>
                    </ul>
                </li>
                <li><a href="">Shop</a></li>
                <li><a href="">Women</a></li>
                <li><a href="">Men</a></li>
                <li>
                    <a href="">Pages</a>
                        <ul class="subnav">
                            <li><a href="">About us</a></li>
                            <li><a href="">My account</a></li>
                            <li><a href="">coming soon</a></li>
                            <li><a href="">404 error</a></li>
                        </ul>
                </li>
                <li><a href="">Blogs</a></li>
                <li><a href="">Contact</a></li>
            </ul>
                <div class="cart-btn" id="cart">
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </div>
                <div class="cart-btn">
                    <i class="fas fa-user-alt user-icon"></i>
                </div>

        </div>

        <div id="slider" class="contain_slide">
            <div class="slide active" >
                <div class="container_slide">
                    <div class="caption">
                        <h1>
                            Special for today
                        </h1>
                        <h1>
                            Women's fashion
                        </h1>
                        <p>
                            save up to 40%
                        </p>
                        <a href="">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="container_slide">
                    <div class="caption">
                        <h1>new collection</h1>
                        <h1>Woman's fashion</h1>
                        <p>save up to 40%</p>
                        <a href="">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="container_slide">
                    <div class="caption">
                        <h1>hot & trendy clothes</h1>
                        <h1>for real man</h1>
                        <p>save up to 40%</p>
                        <a href="">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- control -->
        <div class="controls">
            <div class="prev"></div>
            <div class="next"></div>
        </div>
        <!-- indicators -->
        <div class="indicator">

        </div>

        <div id="container">

        </div>

        <div id="footer">

        </div>
    </div>

</body>
</html>